#{extends 'Admin/main.html' /}
#{set title:'entries' /}

<ul id="lists">
#{list items:entries, as:'entry'}
    <li>
    	<a href="@{Admin.home(entry.id)}"><img src="/public/images/application_form_edit.png" border="0"></a>
    	<a href="javascript:if(window.confirm('削除してもよろしいですか？')){ location.href='@{Admin.deleteEntry(entry.id)}' }"><img src="/public/images/button_cancel-3.png" border="0"></a>
    	${entry.title} / ${entry.date.format('yyyy-MM-dd HH:mm')} /
    	${entry.comments.size() ?: 'no'} comment${entry.comments.size().pluralize()}
    </li>
#{/list}
</ul>
